{% extends 'base.html.twig' %}

{% block title %}Birmchergatg1{% endblock %}

{% block body %}
    <h1>Birmchergatg1</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ birmchergatg1.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ birmchergatg1.date ? birmchergatg1.date|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Tauxdegradation</th>
                <td>{{ birmchergatg1.tauxdegradation }}</td>
            </tr>
            <tr>
                <th>Defconso</th>
                <td>{{ birmchergatg1.defconso }}</td>
            </tr>
            <tr>
                <th>Rendement</th>
                <td>{{ birmchergatg1.rendement }}</td>
            </tr>
            <tr>
                <th>Consogaz</th>
                <td>{{ birmchergatg1.consogaz }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_birmchergatg1_index') }}">back to list</a>

    <a href="{{ path('app_birmchergatg1_edit', {'id': birmchergatg1.id}) }}">edit</a>

    {{ include('birmchergatg1/_delete_form.html.twig') }}
{% endblock %}
