{% extends 'base.html.twig' %}

{% block title %}Thynatg1{% endblock %}

{% block body %}
    <h1>Thynatg1</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ thynatg1.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ thynatg1.date ? thynatg1.date|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Tauxdegradation</th>
                <td>{{ thynatg1.tauxdegradation }}</td>
            </tr>
            <tr>
                <th>Defconso</th>
                <td>{{ thynatg1.defconso }}</td>
            </tr>
            <tr>
                <th>Rendement</th>
                <td>{{ thynatg1.rendement }}</td>
            </tr>
            <tr>
                <th>Consogaz</th>
                <td>{{ thynatg1.consogaz }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_thynatg1_index') }}">back to list</a>

    <a href="{{ path('app_thynatg1_edit', {'id': thynatg1.id}) }}">edit</a>

    {{ include('thynatg1/_delete_form.html.twig') }}
{% endblock %}
