{% extends 'base.html.twig' %}

{% block title %}Birmchergatg3 {% endblock %}

{% block body %}
    <h1>Birmchergatg3 </h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Tauxdegradation</th>
                <th>Defconso</th>
                <th>Rendement</th>
                <th>Consogaz</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for birmchergatg3 in birmchergatg3s %}
            <tr>
                <td>{{ birmchergatg3.id }}</td>
                <td>{{ birmchergatg3.date ? birmchergatg3.date|date('Y-m-d') : '' }}</td>
                <td>{{ birmchergatg3.tauxdegradation }}</td>
                <td>{{ birmchergatg3.defconso }}</td>
                <td>{{ birmchergatg3.rendement }}</td>
                <td>{{ birmchergatg3.consogaz }}</td>
                <td>
                    <a href="{{ path('app_birmchergatg3_show', {'id': birmchergatg3.id}) }}">show</a>
                    <a href="{{ path('app_birmchergatg3_edit', {'id': birmchergatg3.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_birmchergatg3_new') }}">Create new</a>
{% endblock %}
