{% extends 'base.html.twig' %}

{% block title %}Thynatg3{% endblock %}

{% block body %}
    <h1>Thynatg3</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ thynatg3.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ thynatg3.date ? thynatg3.date|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Tauxdegradation</th>
                <td>{{ thynatg3.tauxdegradation }}</td>
            </tr>
            <tr>
                <th>Defconso</th>
                <td>{{ thynatg3.defconso }}</td>
            </tr>
            <tr>
                <th>Rendement</th>
                <td>{{ thynatg3.rendement }}</td>
            </tr>
            <tr>
                <th>Consogaz</th>
                <td>{{ thynatg3.consogaz }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_thynatg3_index') }}">back to list</a>

    <a href="{{ path('app_thynatg3_edit', {'id': thynatg3.id}) }}">edit</a>

    {{ include('thynatg3/_delete_form.html.twig') }}
{% endblock %}
