{% extends 'base.html.twig' %}

{% block title %}Thynatg2 {% endblock %}

{% block body %}
    <h1>Thynatg2 </h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Tauxdegradation</th>
                <th>Defconso</th>
                <th>Rendement</th>
                <th>Consogaz</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for thynatg2 in thynatg2s %}
            <tr>
                <td>{{ thynatg2.id }}</td>
                <td>{{ thynatg2.date ? thynatg2.date|date('Y-m-d') : '' }}</td>
                <td>{{ thynatg2.tauxdegradation }}</td>
                <td>{{ thynatg2.defconso }}</td>
                <td>{{ thynatg2.rendement }}</td>
                <td>{{ thynatg2.consogaz }}</td>
                <td>
                    <a href="{{ path('app_thynatg2_show', {'id': thynatg2.id}) }}">show</a>
                    <a href="{{ path('app_thynatg2_edit', {'id': thynatg2.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_thynatg2_new') }}">Create new</a>
{% endblock %}
